{% extends 'base.html.twig' %}

{% block body %}
    <h1>Информация об авторе</h1>

    <table>
        <tbody>
			<tr>
                <th>Фамилия</th>
                <td>{{ author.surname }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ author.name }}</td>
            </tr>
            
            <tr>
                <th>Отчество</th>
                <td>{{ author.middleName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('author_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('author_edit', { 'id': author.id }) }}">Редактировать</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
